~*
*.bak
*.baml
*.cache
*.csproj.user
*.dll
*.dmp
*.exe
*.g.cs
*.g.i.cs
*.glue
*.msi
*.pdb
*.psess
*.resources
*.swp
*.sublime-*
*.suo
*.tmp_proj
*.user
*.wixobj
*.wixpdb
*.vsp
*.db
*.zip
*.mp4
*.mp3

TemporaryGeneratedFile_*.cs
UpgradeLog.htm
UpgradeLog*.htm

**/debug/
**/release/
**/obj/
**/bin/
**/binx64/
**/.vs/

touch
build
.sencha
*.vspx

artifacts

# Ignore NuGet Packages
*.nupkg

# Ignore the packages folder
**/packages/*
